@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@100;400;800&display=swap');
:root {
  --primary-color: #65ffe5;
  --secondary-color: #016464;
  --dark-gray: #333;
  --darker-gray: #222;
}

* {
  box-sizing: border-box;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}
body {
  /* background: #65ffe5;*/
  background: url('./img/pattern.svg');
  padding: 0;
  margin: 0;
}
button {
  outline: none;
  padding: 0;
  cursor: pointer;
}
input {
  /* width: 100px; */
  /* display: inline; */
  text-align: center;
  background: var(--dark-gray);
  cursor: text;
  padding: 2px 5px;
  border: none;
  outline: none;
  height: 25px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  display: inline;
}
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.container {
  position: relative;
  width: 320px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  /* box-shadow: 0.5em 0.5em 1em rgba(0, 0, 0, 0.3); */
}
.calculator-grid {
  z-index: 2;
  position: relative;
  top: 0;
  left: -240px;
  display: grid;
  justify-content: center;
  align-items: center;
  /* min-height: 100%;
  width: 100%; */
  /* min-height: 100vh;  */
  min-width: 320px;
  background: #2b2b2b;

  grid-template-columns: repeat(4, 80px);
  grid-template-rows: minmax(150px, auto) repeat(5, 80px);
  box-shadow: 0.5em 0.5em 1em rgba(0, 0, 0, 0.3);
}
.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  outline: none;
  /* background-color: #1a3b48; */
  background-color: #018686;
  color: #fff;
  border: none;
  margin: 1px;
  align-self: stretch;
  /* border-radius: 3px; */
}
.calculator-grid > button:hover {
  background-color: #015353;
  /* background-color: #1a3b48; */
  /* transition: 0.2s background; */
}
.span-two {
  grid-column: span 2;
}
button.btn-gray {
  background: #333;
}
button.btn-gray:hover {
  background: #2b2b2b;
  /* background: #222; */
}
button.btn-gray:active,
button.active {
  background-color: #555;
  /* transform: ; */
}
.output {
  background-color: #2b2b2b;
  grid-column: 1 /-1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
  align-self: stretch;
}
.output .prev-operand {
  border-bottom: 1px solid #65ffe5;
  /* min-width: 100%; */
  font-size: 1.5rem;
  opacity: 0.7;
}
.output .curr-operand {
  font-size: 3rem;
  /* border-top: 1px solid rgba(255, 255, 255, 0.2); */
}
/* [contentEditable="true"]:empty:not(:focus):before {
  content: attr(data-text);
  opacity: 0.5;
} */
.operator {
  color: #65ffe5;
}
.extension {
  /* display: grid;
  grid-template-columns: repeat(6, 40px) 20px;
  grid-template-rows: 40px;
  align-items: stretch;
  justify-content: center;
  height: 450px;
  min-width: 260px;
  background: #222;
  box-shadow: 0.5em 0.5em 1em rgba(0, 0, 0, 0.3); */
}
.extend-btn-left {
  display: grid;
  align-self: stretch;
  align-content: center;
  border: none;
  background: #333;
  height: 450px;
  margin-right: 1px;
}
.extend-btn-right {
  display: grid;
  grid-area: 1 /7;
  align-self: stretch;
  align-content: center;
  border: none;
  background: #333;
  height: 450px;
}
.currency-btn {
  background: #333;
  border: none;
  cursor: pointer;
  margin-right: 1px;
}
.curr-converter {
  grid-column: 1 / span 6;
}

li.currency-name {
  height: 40px;
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  justify-content: space-around;
  font-weight: 400;
  padding: 10px 0;
  border-bottom: 1px solid var(--dark-gray);
}
.currency-name label {
  align-self: flex-end;
}
li.currency-name i {
  color: var(--secondary-color);
}
button.currency-btn.added {
  font-weight: 800;
}
input.currency-amount {
  margin-left: 15px;
}
.extension-right {
  display: grid;
  grid-template-columns: repeat(6, 40px) 20px;
  grid-template-rows: 40px;
  align-items: stretch;
  height: 450px;
  min-width: 260px;
  background: #222;
  box-shadow: 0.5em 0.5em 1em rgba(0, 0, 0, 0.3);
  position: relative;
  left: -480px;
}
.extension-active-right {
  left: -240px;
}
/* .currency-name,
.currency-amount {
  align-self: center;
  justify-self: center;
} */

.extension-left {
  display: grid;
  grid-template-columns: 20px repeat(6, 40px);
  grid-template-rows: 40px;
  align-items: stretch;
  height: 450px;
  min-width: 260px;
  background: #222;
  box-shadow: 0.5em 0.5em 1em rgba(0, 0, 0, 0.3);
  position: relative;
  left: 0;
}
.extension-active-left {
  left: -240px;
}
.crypto-currency-converter {
  grid-column: 2 / span 6;
}
